body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    
}

img {
    display: block;
    max-width: 100%;
}

#foto {
    background-image: linear-gradient(to bottom, yellow 0%, green 100%);
}

#santinho {
    height: 600px;
    flex: 0 0 400px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

h1 {
    background-position: bottom;
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: yellow;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 0 blue;
    
}

#cargo {
    font-size: 8mm;
    font-family: 'Mukta';
    color: #68e221e5;
    text-shadow: 1px 1px 0 #087048be;
    text-decoration: underline;
    background-position: left;
    position: absolute;
    
    top: 130px;
    transform: rotate(-27deg);
    
}

#slogan {
    background-image: linear-gradient(to bottom, yellow 0%, green 100%);
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#final {
    background-color: green;
    font-size: 50px;
    display: flex; height: 50px; justify-content: space-around; align-items: center;
    font-weight: bold;
}

#numero {
    color: yellow;
    text-shadow: 2px 2px 0 blue;
}

#partido {
    color: yellow;
    text-shadow: 2px 2px 0 blue;
}